// REET CSS
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
// FIM RESET CSS

// ---------------CORE------------
@font-face{font-family:Rubik;src:url(../../fonts/rubik/Rubik-Regular.ttf)}
body{
	font-family:Rubik;
}
@color-blue:#3498db;
@color-grey:#95a5a6;
@color-red:#e74c3c;

.border{
	border: 1px solid red;
}

.center{
	width:100%;
	max-width:1360px;
	margin:0 auto;
}

.bg-pattern{
	background-image: url('/assets/img/bg.png');
}

.bg-blue{
	background-color:@color-blue;
}
.bg-blue-light{
	background-color:lighten(@color-blue, 30%);
}

.bg-grey{
	background-color:@color-grey;
}
.bg-grey-light{
	background-color:lighten(@color-grey, 30%);
}

.bg-red{
	background-color:@color-red;
}
.bg-red-light{
	background-color:lighten(@color-red, 30%);
}

.btn-blue-full{
	background:@color-blue;
	border: 1px solid darken(@color-blue, 10%);
	color:#fff;
	&:hover{
		background:lighten(@color-blue, 5%);
		color:#fff;
	}
}
.btn-blue-empty{
	background:none;
	border: 1px solid @color-blue;
	color:@color-blue;
	&:hover{
		background:lighten(@color-blue, 35%);
		color:darken(@color-blue, 10%);
	}
}
.btn-blue-link{
	background:none;
	color:@color-blue;
	&:hover{
		background:none;
		color:lighten(@color-blue, 10%);
	}
}

.btn-grey-full{
	background:@color-grey;
	border: 1px solid darken(@color-grey, 10%);
	color:#fff;
	&:hover{
		background:lighten(@color-grey, 5%);
		color:#fff;
	}
}
.btn-grey-empty{
	background:none;
	border: 1px solid @color-grey;
	color:@color-grey;
	&:hover{
		background:lighten(@color-grey, 35%);
		color:darken(@color-grey, 10%);
	}
}
.btn-grey-link{
	background:none;
	color:@color-grey;
	&:hover{
		background:none;
		color:lighten(@color-grey, 10%);
	}
}

.btn-red-full{
	background:@color-red;
	border: 1px solid darken(@color-red, 10%);
	color:#fff;
	&:hover{
		background:lighten(@color-red, 5%);
		color:#fff;
	}
}
.btn-red-empty{
	background:none;
	border: 1px solid @color-red;
	color:@color-red;
	&:hover{
		background:lighten(@color-red, 35%);
		color:darken(@color-red, 10%);
	}
}
.btn-red-link{
	background:none;
	color:@color-red;
	&:hover{
		background:none;
		color:lighten(@color-red, 10%);
	}
}

.btn-high{
	padding:10px 15px;
}

.color-white{
	color:#fff;
}
.color-blue{
	color:@color-blue;
}

.color-grey{
	color:@color-grey;
}

.color-red{
	color:@color-red;
}

.lead{
	font-size:130%;
}
.text-xs-left{
	@media(max-width:767px){
		text-align: left;
	}
}
.text-xs-right{
	@media(max-width:767px){
		text-align: right;
	}
}

.text-xs-center{
	@media(max-width:767px){
		text-align: center;
	}
}

.text-sm-left{
	@media(min-width:768px){
		text-align: left;
	}
}

.text-sm-right{
	@media(min-width:768px){
		text-align: right;
	}
}
.pull-xs-right{
	@media(max-width:767px){
		float: right;
	}
}
.pull-xs-left{
	@media(max-width:767px){
		float: left;
	}
}

.vspace{
	padding-top:20px;
	padding-bottom:20px;
}

.hspace{
	padding-left:20px;
	padding-right:20px;
}



h1{font-size:3.12em;}h2{font-size:2.5em;}h3{font-size:1.7em;}

// ---------------FIM CORE------------
.row{
	margin:0;
}
.pisca{
	animation: pisca 2s alternate-reverse infinite;
	@keyframes pisca{
		from {display: none;}
		to {display: block;}
	}
}

#hold{
	width:100%;
	.stripe{
		width:100%;
		border:2px solid @color-red;
	}
	#topo{
		padding:50px 30px;
		border-bottom:1px solid @color-blue;
		-webkit-box-shadow: inset 0px -8px 15px -4px rgba(0,0,0,0.5);
		-moz-box-shadow: inset 0px -8px 15px -4px rgba(0,0,0,0.5);
		box-shadow: inset 0px -8px 15px -4px rgba(0,0,0,0.5);
		h1{
			font-size:6.25rem;
		}
		img{
			position:relative;
			margin-top:20px;
			margin-bottom:-120px;
			border:4px solid @color-blue;
			border-radius:50%;
		}
	}
	#conteudo{
		padding-top:50px;
		color:#666;
		height: auto;
		.line{
			padding-top:50px;
			padding-bottom:50px;
		}
		h2{
			margin-bottom:50px;
		}
	}
	#trabalhos{
		border-radius:4px;
		.panel{
			.panel-body{
				padding:10px 0 0 0;
				height:295px;
				img{
					margin:0 auto !important;
					-webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
					-moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
					box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
				}
				.back{
					background:darken(@color-red, 20%);
					text-align: left;
					padding:10px 20px;
					// @media(max-width:767px){
					// 	padding:20px 80px;
					// }
					span{
						margin-right:10px;
					}
					a{
						color:#fff;
						&:hover{
							color:#fff;
						}
					}
				}
			}
		}
	}
	#contato{
		img{
			margin-right:20px;
			vertical-align: middle;
		}
	}
}
