/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  font-family: 'Bariol-Regular' !important;
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: 'Bariol-Regular';
  src: local('Bariol-Regular'), url('../../fonts/bariol/Bariol.woff') format('woff');
}
@media (max-width: 767px) {
  body {
    font-size: 80% !important;
  }
}
p {
  font-size: 1.7rem;
}
.border {
  border: 1px solid red !important;
}
.border-red {
  border: 1px solid #e74c3c !important;
}
.border-blue {
  border: 1px solid #2980b9 !important;
}
.no-border {
  border: none !important;
}
.color-blue {
  color: #2980b9 !important;
}
.color-grey {
  color: #bdc3c7 !important;
}
.color-red {
  color: #e74c3c !important;
}
.color-white {
  color: #fff !important;
}
.bg-blue {
  background-color: #2980b9;
}
.bg-grey {
  background-color: #bdc3c7;
}
.bg-red {
  background-color: #e74c3c;
}
.bg-blue-light {
  background-color: #409ad5;
}
.bg-grey-light {
  background-color: #d9dcde;
}
.bg-red-light {
  background-color: #ed7669;
}
#conteudo {
  width: 100%;
  height: auto;
}
#conteudo #header {
  background-image: url(../../img/bg.png);
  padding: 120px 0;
  border-top: 5px solid #e74c3c;
  border-bottom: 1px solid #bdc3c7;
}
#conteudo #header h1 {
  margin: 0;
  font-size: 12em;
  font-weight: bold;
}
#conteudo #me img {
  background: #fff;
  width: 100%;
  max-width: 150px;
  margin-top: -80px;
  border: 2px solid #e74c3c;
  -webkit-box-shadow: 0px 10px 24px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 24px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 24px -5px rgba(0, 0, 0, 0.75);
}
#conteudo #aboutme h1 {
  padding: 30px 0;
}
#conteudo #especialidades h1 {
  padding: 30px 0;
}
#conteudo #especialidades .thumbnail {
  -webkit-box-shadow: 0px 10px 24px -2px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 10px 24px -2px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0px 24px -2px rgba(0, 0, 0, 0.7);
  transition: all 0.1s ease-in;
}
#conteudo #especialidades .thumbnail:hover {
  transform: translateY(5px);
  -webkit-box-shadow: 0px 10px 24px -5px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 10px 24px -5px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0px 24px -5px rgba(0, 0, 0, 0.7);
  transition: all 0.1s ease-in;
}
#conteudo #especialidades .thumbnail img {
  max-width: 100px;
  padding-top: 10px;
}
#conteudo #jobs h1 {
  padding: 30px 0;
}
#conteudo #jobs .thumbnail {
  height: auto;
  -webkit-box-shadow: 0px 10px 24px -2px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 10px 24px -2px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0px 24px -2px rgba(0, 0, 0, 0.7);
  transition: all 0.1s ease-in;
}
#conteudo #jobs .thumbnail:hover {
  transform: translateY(5px);
  -webkit-box-shadow: 0px 10px 24px -5px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 10px 24px -5px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0px 24px -5px rgba(0, 0, 0, 0.7);
  transition: all 0.1s ease-in;
}
#conteudo #jobs .thumbnail img {
  width: 100%;
  max-width: 500px;
}
#conteudo #footer {
  padding: 20px;
}
