/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
html {
  font-size: 100% !important;
  height: 100%;
}
body {
  line-height: 1;
  height: 100%;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*fim css reset*/
@font-face {
  font-family: "Rubik";
  src: url('../../fonts/rubik/Rubik-Regular.ttf');
}
@media (max-width: 767px) {
  html {
    font-size: 80% !important;
  }
}
#holding {
  font-family: "Rubik", "segoe ui";
  font-size: 1.25rem;
  color: #666;
  width: 100%;
  max-width: 1360px;
  height: 100%;
  margin: 0 auto;
  word-wrap: break-word;
}
#holding h1 {
  font-size: 3.125rem;
  text-align: center;
  margin-bottom: 50px;
  color: #0076ba;
}
#holding h2 {
  color: #ff6c00;
  font-size: 1.875rem;
}
#holding i {
  font-style: italic;
}
#holding a {
  text-decoration: none;
}
#holding a:hover {
  color: #ff6c00;
}
#holding .divider {
  background: url('../../img/divider.png') no-repeat center center;
  width: 100%;
  height: 50px;
  display: block;
  overflow: auto;
}
#holding header #cover {
  background: url('../../img/bg.png');
  width: 100%;
  height: auto;
  text-align: center;
  overflow: hidden;
}
#holding header #cover h1 {
  font-size: 6.25rem;
  font-weight: bolder;
  margin-bottom: 10px;
}
#holding header #cover .blinker {
  color: #0076ba;
}
#holding header #cover p {
  color: #ff6c00;
}
#holding header #cover img {
  position: relative;
  top: 0;
  margin: 0 auto;
}
#holding .box {
  width: 100%;
  height: auto;
  padding: 50px 20px;
  border-bottom: 1px solid #dfdfdf;
}
#holding #sobre {
  text-align: center;
}
#holding #especialidades .espec {
  text-align: center;
  padding: 20px;
  height: auto;
}
#holding #especialidades .espec img {
  width: 80px;
  height: auto;
}
#holding #trabalhos .jobs {
  text-align: center;
  height: auto;
  margin: 0 4% 5% 4%;
  padding: 10px;
  border-radius: 6px;
  overflow: hidden;
}
#holding #trabalhos .jobs img {
  position: relative;
  width: 100%;
  max-width: 300px;
  z-index: 2;
}
#holding #trabalhos .jobs .info {
  position: absolute;
  top: 0;
  left: 0;
  background: #ff6c00;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  z-index: 3;
}
#holding #trabalhos .jobs .info p {
  position: absolute;
  left: 0;
  right: 0;
  top: 45%;
  font-size: 1.56rem;
  color: #fff;
}
#holding #trabalhos .jobs .info p a {
  color: #fff;
  text-decoration: none;
  display: block;
}
#holding #trabalhos .jobs:before {
  transform: rotate(45deg);
  left: -50px;
  top: 35%;
}
#holding #trabalhos .jobs:after,
#holding #trabalhos .jobs:before {
  background: rgba(255, 255, 255, 0.05);
  content: "";
  position: absolute;
  width: 37.5rem;
  height: 11.25rem;
  border: 1px solid rgba(255, 255, 255, 0.09);
  z-index: 1;
}
#holding #trabalhos .jobs:after {
  transform: rotate(135deg);
  left: -50px;
  top: 30%;
}
#holding #contato {
  width: 100%;
  margin: 0 auto;
  overflow: auto;
}
#holding #contato .data {
  padding: 10px;
  border-radius: 4px;
}
#holding #contato .data img {
  margin-right: 20px;
}
@media (max-width: 991px) {
  #holding #contato .data {
    text-align: center;
  }
  #holding #contato .data img {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  #holding #contato .data a {
    display: block;
    padding: 10px;
  }
}
#holding footer {
  text-align: center;
  font-size: 16px;
  padding: 20px;
}
