/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: Rubik;
  src: url(../../fonts/rubik/Rubik-Regular.ttf);
}
body {
  font-family: Rubik;
}
.border {
  border: 1px solid red;
}
.center {
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
}
.bg-pattern {
  background-image: url('/assets/img/bg.png');
}
.bg-blue {
  background-color: #3498db;
}
.bg-blue-light {
  background-color: #b6daf2;
}
.bg-grey {
  background-color: #95a5a6;
}
.bg-grey-light {
  background-color: #e8ecec;
}
.bg-red {
  background-color: #e74c3c;
}
.bg-red-light {
  background-color: #f8c9c4;
}
.btn-blue-full {
  background: #3498db;
  border: 1px solid #217dbb;
  color: #fff;
}
.btn-blue-full:hover {
  background: #4aa3df;
  color: #fff;
}
.btn-blue-empty {
  background: none;
  border: 1px solid #3498db;
  color: #3498db;
}
.btn-blue-empty:hover {
  background: #cce5f6;
  color: #217dbb;
}
.btn-blue-link {
  background: none;
  color: #3498db;
}
.btn-blue-link:hover {
  background: none;
  color: #5faee3;
}
.btn-grey-full {
  background: #95a5a6;
  border: 1px solid #798d8f;
  color: #fff;
}
.btn-grey-full:hover {
  background: #a3b1b2;
  color: #fff;
}
.btn-grey-empty {
  background: none;
  border: 1px solid #95a5a6;
  color: #95a5a6;
}
.btn-grey-empty:hover {
  background: #f6f7f7;
  color: #798d8f;
}
.btn-grey-link {
  background: none;
  color: #95a5a6;
}
.btn-grey-link:hover {
  background: none;
  color: #b1bdbd;
}
.btn-red-full {
  background: #e74c3c;
  border: 1px solid #d62c1a;
  color: #fff;
}
.btn-red-full:hover {
  background: #ea6153;
  color: #fff;
}
.btn-red-empty {
  background: none;
  border: 1px solid #e74c3c;
  color: #e74c3c;
}
.btn-red-empty:hover {
  background: #fbdedb;
  color: #d62c1a;
}
.btn-red-link {
  background: none;
  color: #e74c3c;
}
.btn-red-link:hover {
  background: none;
  color: #ed7669;
}
.btn-high {
  padding: 10px 15px;
}
.color-white {
  color: #fff;
}
.color-blue {
  color: #3498db;
}
.color-grey {
  color: #95a5a6;
}
.color-red {
  color: #e74c3c;
}
.lead {
  font-size: 130%;
}
@media (max-width: 767px) {
  .text-xs-left {
    text-align: left;
  }
}
@media (max-width: 767px) {
  .text-xs-right {
    text-align: right;
  }
}
@media (max-width: 767px) {
  .text-xs-center {
    text-align: center;
  }
}
@media (min-width: 768px) {
  .text-sm-left {
    text-align: left;
  }
}
@media (min-width: 768px) {
  .text-sm-right {
    text-align: right;
  }
}
@media (max-width: 767px) {
  .pull-xs-right {
    float: right;
  }
}
@media (max-width: 767px) {
  .pull-xs-left {
    float: left;
  }
}
.vspace {
  padding-top: 20px;
  padding-bottom: 20px;
}
.hspace {
  padding-left: 20px;
  padding-right: 20px;
}
h1 {
  font-size: 3.12em;
}
h2 {
  font-size: 2.5em;
}
h3 {
  font-size: 1.7em;
}
.row {
  margin: 0;
}
.pisca {
  animation: pisca 2s alternate-reverse infinite;
}
@keyframes pisca {
  from {
    display: none;
  }
  to {
    display: block;
  }
}
#hold {
  width: 100%;
}
#hold .stripe {
  width: 100%;
  border: 2px solid #e74c3c;
}
#hold #topo {
  padding: 50px 30px;
  border-bottom: 1px solid #3498db;
  -webkit-box-shadow: inset 0px -8px 15px -4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0px -8px 15px -4px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px -8px 15px -4px rgba(0, 0, 0, 0.5);
}
#hold #topo h1 {
  font-size: 6.25rem;
}
#hold #topo img {
  position: relative;
  margin-top: 20px;
  margin-bottom: -120px;
  border: 4px solid #3498db;
  border-radius: 50%;
}
#hold #conteudo {
  padding-top: 50px;
  color: #666;
  height: auto;
}
#hold #conteudo .line {
  padding-top: 50px;
  padding-bottom: 50px;
}
#hold #conteudo h2 {
  margin-bottom: 50px;
}
#hold #trabalhos {
  border-radius: 4px;
}
#hold #trabalhos .panel .panel-body {
  padding: 10px 0 0 0;
  height: 295px;
}
#hold #trabalhos .panel .panel-body img {
  margin: 0 auto !important;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
}
#hold #trabalhos .panel .panel-body .back {
  background: #a82315;
  text-align: left;
  padding: 20px 40px;
}
@media (max-width: 767px) {
  #hold #trabalhos .panel .panel-body .back {
    padding: 20px 80px;
  }
}
#hold #trabalhos .panel .panel-body .back span {
  margin-right: 10px;
}
#hold #trabalhos .panel .panel-body .back a {
  color: #fff;
}
#hold #trabalhos .panel .panel-body .back a:hover {
  color: #fff;
}
#hold #contato img {
  margin-right: 20px;
  vertical-align: middle;
}
